*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container{
    background: rgb(221, 215, 215);
    height: 280px;
    width: 380px;
    padding: 10px;
    border-radius: 10px;
}
#heading{
    text-align: center;
    font-size: 23px;
}
#email, #password{
    width: 100%;
    padding: 3px;
    margin: 4px 4px 4px 0;
}
#btn{
    margin: 25px 4px 4px 0;
    padding: 4px;
    width: 100%;
    height: 30px;
    background: rgb(79, 79, 247);
    color: white;
    border-radius: 3px;
    border: none;
}
.input-group{
    margin-top: 8px;
}
.error{
    color: red;
    font-size: 12px;
    margin-left: 3px;
}
#show{
    font-size: 8px;
    margin-left: 300px;
}