*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}
header, footer{
    background: #F8F7F3;
    padding: 10px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav a{
    padding: 0 20px 0 20px;
    color: rgb(27, 27, 27);
    text-decoration: none;
}
main{
    display: flex;
    flex: 1;
    gap: 20px;
    padding: 10px;
}
aside{
    flex: 1;
}
section{
    flex: 3;
}
.gallery figure img{
    height: 30px;
    width: 40px;
}
.container{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding: 10px;
    
}
section img{
    height: 200px;
    width: 380px;
}
section article{
    height: 300px;
    width: 400px;
    background: #F8F7F3;
    padding: 10px;
}
.search{
    height: 30px;
    width: 350px;
    padding: 10px;
    background: #F8F7F3;
    border: none;
}
.Categories{
    background: #F8F7F3;
    height: 300px;
    padding: 20px;
    margin: 10px 0 10px 0;
}
.Categories h2{
    font-size: 20px;
}
.Categories h3{
    font-size: 15px;
    color: rgb(64, 62, 62);
    margin: 4px 0 4px 0;
}

/* //top-posts */
.posts{
    background: #F8F7F3;
    padding: 20px;
}
.posts h2{
    font-size: 20px;
}
.posts .meta{
    color: rgb(64, 62, 62);
}

.posts ul{
    list-style: none;
}
.posts .post{
    display: flex;
}

