*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header, footer{
    background: #222;
    color: white;
    padding:10px ;
}
nav a{
    color: white;
    text-decoration: none;
    margin-left: 10px;
}
main{
    display: flex;
    gap: 20px;
    flex: 1;
    padding: 10px;
}
section{
    flex: 3;
}
aside{
    flex: 1;
    background: #2f2f2f;
    padding: 10px;
    color: white;
    text-decoration: none;
}