*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html body{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background: rgb(255, 255, 255);
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(158, 193, 249);
    height: 50px;
}
header h1{
     margin-left: 8px;
     color: rgb(43, 42, 42);
}
header nav ul li{
    float: left;
    margin: 10px;
    list-style-type: none;
    display: block;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(234, 222, 200);
    width: 90%;
    height: 80%;
    border-radius: 20px;
    border: 2px solid black;
}
#about{
    height: 130px;
    text-align: center;
    margin-top: 8px;
    background: rgb(224, 210, 184);
    width: 80%;
    border-radius: 12px;
    padding: 10px;
}
#loginform{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
#container{
    height: 230px;
    width: 90%;
    background: rgb(224, 210, 184);
    border-radius: 10px;
    padding: 10px;
}
#container h2{
    text-align: center;
}
#InputName{
    width: 100%;
}
#Email{
    width: 100%;
}
#Message{
    width: 100%;
    height: 80px;
}
footer{
    background: rgb(125, 152, 211);
    height: 80px;
    text-align: center;
}
footer address{
     color: rgb(36, 34, 34);
     margin-top: 50px;
     font-size: 14px;
}


