*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', sans-serif;
}
html body{
    height: 100vh;
}
body{
    display: flex;
    flex-direction: column;
}
main{
    flex: 1;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background: #e2e4e9;
}
header h1{
    color: rgb(37, 36, 36);
}
header h1 span{
    color: #6EA4D2;
    padding: 0 5px 0 0;
}
header nav a{
    text-decoration: none;
    color: rgb(37, 36, 36);
    margin: 0 10px 0 10px;
}
header nav i{
    color: #6EA4D2;
    margin: 0 10px 0 10px;
}
header button{
    background: #F1A522;
    color: white;
    padding: 6px 12px 6px 12px;
    border: none;
    border-radius: 9px;
    margin: 0 10px 0 10px;
}
.section-top{
    background: #3570B4;
    width: 100%;
    height: 150px;
    padding: 10px;
    text-align: center;
}
.section-top h1{
    color: white;
    margin: 10px 0 6px 0;
}
.section-top p{
    color: white;
    margin-bottom: 10px;
}
.section-top button{
    background: #F1A522;
    color: white;
    padding: 6px 12px 6px 12px;
    border: none;
    border-radius: 9px;
    margin: 13px 10px 0 10px;
    height: 30px;
}
.section-middle{
    background: #e2e4e9;
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: space-around;
}
.section-middle .card{
    background-color: white;
    height: 150px;
    width: 300px;
    margin: 10px;
    text-align: center;
    padding: 8px;
    border-radius: 10px;
}
.card h3{
    color: rgb(37, 36, 36);
}
.card p{
    font-size: 13px;
    color: rgb(77, 74, 74);
}
.section-bottom{
    display: flex;
    /* align-items: center;
    justify-content: center; */
}
.section-bottom .bottom-card-1, .bottom-card-2{
    width: 50%;
    height: 250px;
    margin: 10px;
    padding: 11px;
    border-radius: 8px;
    border: 1px solid rgb(188, 182, 182);
}
.section-bottom .bottom-card-1 h2{
    color: rgb(37, 36, 36);
    margin: 0 0 15px 0;
    
}
.section-bottom .bottom-card-1 input{
    width: 80%;
    height: 25px;
    border-radius: 5px;
    border: none;
    padding: 4px;
    background: #e2e4e9;
}
.section-bottom .bottom-card-1 button{
    width: 81%;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 3px;
    margin: 10px 0 10px 0;
    background: #3570B4;
    color: white;
}
.section-bottom .bottom-card-2 h2{
    color: rgb(37, 36, 36);
    margin: 0 0 15px 0;
}
.section-bottom .bottom-card-2 p{
    font-size: 15px;
    margin-bottom: 10px;
}
.section-bottom .bottom-card-2 ul li{
    font-size: 15px;
    margin: 8px;
    list-style: none;
}
footer{
   background: #3570B4;
   height: 80px;
   color: white;
   padding: 10px 0 25px 20px;
}
footer h2{
    margin: 5px 0 10px 10px;
}
footer span{
    font-size: 13px;
    margin: 8px;
}
.svgs{
    font-size: 48px;
    display: block;
    margin-bottom: 10px;
}
.email{
    margin-right: 2px;
    display: inline-block;
}


